<meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,user-scalable=no,initial-scale=1, minimum-scale=1,maximum-scale=1"/>

    <meta name="description" content="Ahladang Quiz">
    <meta name="keywords" content="Ahladang,Quiz,Khmer">
    <meta name="author" content="Ahladang Team">

    <meta property="og:site_name" content="Ahladang Quiz">
    <meta property="og:title" content="Ahladang Quiz">
    <meta name="og:image" content="/quiz/public/raw-image/logo.png">
    <meta name="og:image:type" content="image/png">
    <meta name="og:image:width" content="120">
    <meta name="og:image:height" content="120">
  
    <meta name="twitter:card" content="summary" />
    <meta name="twitter:site" content="@Ahladang_Quiz">
    <meta name="twitter:title" content="Ahladang Quiz">
    <meta name="twitter:image" content="/quiz/public/raw-image/logo.png">
    <meta name="twitter:image:alt" content="Ahladang Quiz Logo">