<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quiz</title>

    <% include ./head-meta.ejs %>
    
    <link rel="shortcut icon" href="<%= QuizPublicPath %>/favicon.ico">
    <link href="<%= QuizPublicPath %>/raw-css/index.css" rel="stylesheet">
    <link href="<%= QuizPublicPath %>/static/css/quiz.css" rel="stylesheet">
    <% include ./required-scripts.ejs %>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script>
        window.SERVER_URL = `${window.location.protocol}//${window.location.host}`
        window.QuizPublicPath = '<%= QuizPublicPath %>';
        window.version = '<%= info.version %>';
        window.versionCode = <%= info.versionCode %>;
    </script>
    <script type="text/javascript" src="<%= QuizPublicPath %>/static/js/quiz.js"></script>
</body>

</html>