<!DOCTYPE html>
<html lang="en">

<head>
    <title>Quiz Admin</title>

    <% include ./head-meta.ejs %>
    
    <link rel="shortcut icon" href="<%= QuizPublicPathAdmin %>/favicon.ico">
    <link href="<%= QuizPublicPathAdmin %>/raw-css/index.css" rel="stylesheet">
    <link href="<%= QuizPublicPathAdmin %>/static/css/quiz-admin.css" rel="stylesheet">
    <% include ./required-scripts.ejs %>
</head>

<body>
    <noscript>You need to enable JavaScript to run this app.</noscript>
    <div id="root"></div>
    <script>
        window.SERVER_URL = `${window.location.protocol}//${window.location.host}`
        window.QuizPublicPathAdmin = '<%= QuizPublicPathAdmin %>';
        window.version = '<%= info.version %>';
        window.versionCode = <%= info.versionCode %>;
    </script>
    <script type="text/javascript" src="<%= QuizPublicPathAdmin %>/static/js/quiz-admin.js"></script>
</body>

</html>