<script>
    // setTimeout(function () {
    //     a++;
    // }, 3e3);

    window.onerror = function (message, url, lineNumber, columnNumber, error) {
        var d = new Date()
        var dt = d.getMonth() + '/' + d.getDate() + '/' + (d.getYear() + 1900)
        var xmlHttp = new XMLHttpRequest();
        xmlHttp.onreadystatechange = function () {
            if (this.readyState == 4) {
                console.log('report error done: ', this.status)
            }
        };
        xmlHttp.open("POST", '<%= routeView.route.API_MAIL_REPORT %>', true);
        xmlHttp.setRequestHeader("Content-Type", "application/json;charset=UTF-8");
        xmlHttp.send(JSON.stringify({
            subject: 'Uncaught Exception on Client Ahladang Quiz: ' + dt,
            message: error.stack
        }));

        return true;
    };
</script>