.the-button {
    margin: 5px;
    display: inline-block;
    padding: 5px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    font-size: 12px;
    outline: none;
    color: #fff;
    background-color: $ahladang-color;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px rgb(199, 199, 199);
    &:hover {
        box-shadow: 0 3px rgb(182, 182, 182);
    }
    &:active {
        box-shadow: 0 2px rgb(182, 182, 182);
        transform: translateY(1px);
    }
    &.red {
        background-color: red;
    }
    &.green {
        background-color: green;
    }
    &.yellow {
        background-color: yellow;
    }
    &.black {
        background-color: black;
    }
    &.blue {
        background-color: blue;
    }
    &[disabled] {
        cursor: not-allowed;
        opacity: 0.4;
    }
}