@import 'index/variables';
@import 'mixin/mixins';
$width: 30px;
$height: 30px;
$board-width: 2px;
.avatar {
    position: relative;
    width: $width + 2 * $board-width;
    height: $height + 2 * $board-width;
    overflow: visible;
    @include prefix-border-radius(30px);
    .type,
    .pic {
        position: absolute;
        @include prefix-border-radius(50%);
        width: $width;
        height: $height;
        border-width: $board-width;
        border-style: solid;
    }
    .type {
        border-color: transparent;
    }
    .pic {
        &.weak {
            border-color: grey;
        }
        &.fair {
            border-color: yellow;
        }
        &.medium {
            border-color: pink;
        }
        &.strong {
            border-color: red;
        }
        &.perfect {
            border-color: green;
        }
    }
}