 @import './mixin/mixins';
 @import './index/variables';
 #complete {
	 margin: 0;
	 padding: 0;
	 .progress-bar,
	 .point {
		 position: absolute;
		 top: 0;
		 left: 0;
	 }
	 .progress-bar {
		 appearance: none;
		 color: #000;
		 height: 2px;
		 margin: 8px;
		 &::-webkit-progress-value {
			 /* Changes line color */
			 background: $highlight-color;
			 @include prefix-transition(all 0.4s ease-in-out);
		 }
		 &::-webkit-progress-bar {
			 /* Changes background color */
			 background: $clear-color;
		 }
		 &.contrast::-webkit-progress-bar {
			 /* Changes background color */
			 background: $ahladang-color;
		 }
	 }
	 .point {
		 height: 10px;
		 width: 10px;
		 border-radius: 100%;
		 border: 4px solid $clear-color;
		 background: $clear-color;
		 @include prefix-transition(all 1s ease-in-out);
		 &.bordered {
			 border-color: $highlight-color;
		 }
	 }
	 .info {
		 font-family: Arial;
		 font-size: 14pt;
		 text-shadow: 1px 1px 0px #000;
		 color: white;
		 text-align: center;
	 }
 }