@import './mixin/mixins';
@import './index/variables';
$box-width: 700px;
$box-height: 550px;
#home {
	width: 100%;
	max-width: $box-width;
	height: $box-height;
	position: fixed;
	top: 50px;
	left: 50%;
	padding: 10px;
	overflow: hidden;
	background: white;
	@include prefix-transform(translate(-50%, 0));
	@include prefix-border-radius(5px);
	.minion-container {
		position: relative;
		width: 80%;
		height: 120px;
		padding: 10px;
		margin: 10px;
		&.minion-card {
			box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
			transition: 0.4s;
			img {
				position: absolute;
				left: 20px;
				top: 0px;
			}
			&:hover {
				box-shadow: 0 16px 32px 0 rgba(0, 0, 0, 0.3);
			}
			p,
			h3 {
				padding-left: 150px;
				color: $ahladang-color;
			}
		}
	}
	.card-container {
		.title {
			margin: 5px;
		}
		.cards {
			list-style: none;
			margin: 0;
			padding: 0;
			height: 350px;
			overflow: auto;
			background: rgba(0, 0, 0, 0.041);
			@include prefix-box-shadow(-5px 5px 10px 0 rgba(0, 0, 0, 0.541));
			li {
				background: $ahladang-color;
				width: 40%;
				color: #fff;
				flex: 1 1 200px;
				box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
				@include prefix-transition(0.3s);
				@include prefix-border-radius(4px);
				&:hover {
					@include prefix-box-shadow(0 8px 16px 0 rgba(0, 0, 0, 0.2));
				}
			}
			h2 {
				background: darken($color: $ahladang-color, $amount: 10);
				margin: 0;
				padding: 10px;
			}
			.info {
				padding: 10px;
				span {
					margin-right: 10px;
				}
			}
			p {
				padding: 0 10px;
			}
		}
		.flex {
			display: flex;
			flex-wrap: wrap;
			margin: 0;
			li {
				flex: 1 1 200px;
				margin: 10px;
			}
		}
	}
}

@media screen and (max-width: 400px) {
	#home {
		.minion-container {
			&.minion-card {
				p {
					display: none;
				}
			}
		}
	}
}

@media screen and (max-width: 290px) {
	#home {
		.minion-container {
			&.minion-card {
				h3 {
					display: none;
				}
			}
		}
	}
}