@import 'mixin/mixins';
@import 'index/crome-scroll';
@import 'index/variables';
@import 'index/button';

@import url('https://fonts.googleapis.com/css?family=Hanuman');

html,
body {
    background: $ahladang-color;
    font-family: 'Hanuman', serif;
}

.cursor-pointer {
    cursor: pointer !important;
}

.cursor-not-allow {
    cursor: not-allowed !important;
}

#quiz-box-container {
    margin-top: 50px;
    #quiz-title {
        width: 100%;
        text-align: center;
        margin: auto;
        color: white;
    }
    #complete-container {
        max-width: 100%;
        overflow: auto;
        height: 30px;
        padding: 3px;
        background: rgba(0, 0, 0, 0.192);
    }
}