@import 'index/variables';
@import 'mixin/mixins';
.control {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    font-size: 18px;
    cursor: pointer;
    input {
        position: absolute;
        z-index: -1;
        opacity: 0;
        &:checked~.control__indicator:after {
            display: block;
        }
        &:checked~.control__indicator {
            background: lighten($ahladang-color, 15%);
        }
        &:checked:focus~.control__indicator {
            background: $ahladang-color;
        }
        &:disabled~.control__indicator {
            background: #e6e6e6;
            opacity: 0.6;
            pointer-events: none;
        }
    }
    &:hover input~.control__indicator,
    &:hover input:not([disabled]):checked~.control__indicator,
    input:focus~.control__indicator {
        background: #ccc;
    }
    .control__indicator {
        position: absolute;
        top: 2px;
        left: 0;
        height: 20px;
        width: 20px;
        background: #e6e6e6;
        &:after {
            content: '';
            position: absolute;
            display: none;
        }
    }
    &.control--radio {
        .control__indicator {
            border-radius: 50%;
            &:after {
                left: 7px;
                top: 7px;
                height: 6px;
                width: 6px;
                border-radius: 50%;
                background: #fff;
            }
        }
        input:disabled~.control__indicator:after {
            background: #7b7b7b;
        }
    }
    &.correct input~.control__indicator {
        background: green;
    }
    &.incorrect input~.control__indicator {
        background: red;
    }
    &.control--checkbox {
        .control__indicator:after {
            left: 8px;
            top: 4px;
            width: 3px;
            height: 8px;
            border: solid #fff;
            border-width: 0 2px 2px 0;
            transform: rotate(45deg);
        }
        input:disabled~.control__indicator:after {
            border-color: #7b7b7b;
        }
    }
}