@import 'mixin/mixins';
.notify-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: flex-start;
  align-content: flex-start;
  position: absolute;
  top: 0;
  right: 0;
  z-index: 9999;
  .notify-item {
    .notify-title {
      font-weight: 700;
      background: rgb(0, 0, 0);
      padding: 5px;
      &:before {
        content: 'Alert title: ';
        opacity: 0.6;
        display: block;
      }
    }
    .notify-body {
      background: rgba(0, 0, 0, 0.801);
      padding: 5px 2px;
      &:before {
        content: 'Alert message: ';
        opacity: 0.6;
        display: block;
      }
    }
    width: 250px;
    margin: 5px 10px;
    color: #FFF;
    @include prefix-border-radius(5px);
    @include prefix-box-shadow(-10px 10px 80px 0 rgb(0, 0, 0));
    &:hover {
      @include prefix-box-shadow(-10px 10px 60px 0 rgb(0, 0, 0));
      cursor: pointer;
    }
    &>p {
      margin: 10px;
      opacity: .8;
    }
    &.success {
      background-color: rgba(81, 163, 81, 1);
    }
    &.error {
      background-color: rgba(203, 100, 94, 1);
    }
    &.info {
      background-color: rgba(33, 150, 243, 1);
    }
  }
}