@import 'index/variables';
@import 'mixin/mixins';
$brand-color: rgb(41, 41, 41);
$text-color: white;
.profile {
    .avatar-container,
    .user-info,
    .username,
    .profile-info {
        margin: 0;
        float: right;
    }
    .avatar-container {
        background: $brand-color;
    }
    .user-info {
        width: 150px;
        background: $brand-color;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
        .username {
            width: 90%;
            color: $text-color;
            padding: 0 5px;
            padding-right: 10px;
            text-align: right;
            white-space: nowrap;
            text-overflow: ellipsis;
            overflow: hidden;
            font-size: 15px;
            @include prefix-transform(translateX(2px));
        }
        .profile-info {
            text-align: center;
            width: 100%;
            background: rgb(180, 180, 180);
            color: rgb(32, 32, 32);
            font-size: 10px;
            padding: 0;
            .quiz-count,
            .pass-count,
            .fail-count,
            .score-count {
                margin: 0 2px;
                &:before {
                    display: inline-block;
                    background-image: url('../images/play-state.png');
                    background-repeat: no-repeat;
                    background-position: 0 0;
                    content: "";
                    width: 12px;
                    height: 12px;
                    @include prefix-transform(translate(0, 3px));
                    margin: 0;
                }
            }
            .quiz-count:before {
                background-position: 0 0;
            }
            .pass-count:before {
                background-position: -12px 0;
            }
            .fail-count:before {
                background-position: -24px 0;
            }
            .score-count:before {
                background-position: -36px 0;
            }
        }
    }
    .avatar-container {
        width: 35px;
        height: 35px;
        padding: 2px;
        @include prefix-border-radius(0 50%);
    }
}