@import './mixin/mixins';
@import './index/variables';
.question {
	vertical-align: top;
	text-align: left;
	padding: 20px;
	height: 350px;
	overflow: auto;
	@include box-shadow(0 0 20px rgba(0, 0, 0, 0.438));
	.info {
		.info-item {
			display: inline-block;
			padding: 3px;
			margin: 2px;
			background: rgba(0, 0, 0, 0.116);
			@include prefix-border-radius(5px);
		}
	}
	.image {
		width: 100%;
		img {
			max-width: 100%;
			text-align: center;
			margin: auto;
		}
	}
	&.show {
		display: inherit;
		opacity: 1;
		@include prefix-animation(fadeInOpacity 0.5s ease-in);
		@include prefix-animation-iteration-count(1);
	}
	&.hide {
		display: none;
	}
}

@keyframes fadeInOpacity {
	0% {
		opacity: 0;
	}
	70% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}