@import './mixin/mixins';
@import './index/variables';
@mixin paper-stack($width, $paper-color, $border-color, $paper-image-url: false) {
	@if $paper-image-url==false {
		background: $paper-color;
	}
	@else {
		background: $paper-color url($paper-image-url);
	}
	width: 100%;
	max-width: $width;
	border: 1px solid $border-color;
	position: relative;
	&:before,
	&:after {
		content: '';
		position: absolute;
		background: darken($paper-color, 10%);
		border: 1px solid $border-color;
		height: 2px;
	}
	&:before {
		width: calc(100% - 3px);
		bottom: -4px;
		left: 1px;
		z-index: 2;
	}
	&:after {
		width: calc(100% - 6px);
		bottom: -7px;
		left: 3px;
		z-index: 1;
	}
}

$box-width: 700px;
$box-height: 500px;
#quiz-box {
	@include paper-stack($box-width, #fff, #ccc);
	@include prefix-border-radius(2px);
	@include box-shadow(0 8px 10px rgba(0, 0, 0, 0.15), 0 8px 10px rgba(0, 0, 0, 0.05));
	margin: auto;
	height: $box-height;
	h1 {
		font-family: 'Alegreya Sans', sans-serif;
		font-weight: 300;
		margin-top: 0;
	}
	.buttons {
		overflow: hidden;
	}
}