@import './mixin/mixins';
@import './index/variables';
$box-width: 700px;
#score-back {
	h1,
	h2,
	h3 {
		padding: 0px 5px;
		margin: 5px 0;
	}
	.overlay,
	.box {
		z-index: 9999;
	}
	.overlay {
		position: fixed;
		top: 0;
		bottom: 0;
		left: 0;
		right: 0;
		background: rgba(0, 0, 0, 0.7);
	}
	.box {
		position: fixed;
		top: 50%;
		left: 50%;
		width: 100%;
		max-width: $box-width;
		max-height: 555px;
		padding: 0px;
		overflow: auto;
		background: white;
		@include prefix-transform(translate(-50%, -50%));
		@include prefix-border-radius(5px);
		.score-info,
		.result,
		.buttons {
			padding: 10px;
		}
		.pass-fail {
			position: absolute;
			top: 5px;
			right: 5px;
			width: 125px;
			height: 100px;
			background-image: url('../images/pass-fail.png');
			background-repeat: no-repeat;
			background-size: 250px 100px;
			overflow: hidden;
			&.pass {
				background-position: 0 0;
			}
			&.fail {
				background-position: -125px 0;
			}
		}
		.complete {
			max-width: 100%;
			height: 35px;
			@include prefix-box-shadow(inset 1px 1px 15px rgba(0, 0, 0, 0.24));
			.step,
			.next-button {
				display: inline-block;
			}
			.step {
				overflow: auto;
				height: 35px;
				padding: 1px;
				width: calc(100% - 50px);
			}
			.next-button {
				@include prefix-transform(translate(0, -15px));
			}
		}
		.result {
			height: 255px;
			overflow: auto;
			margin: 0;
			@include prefix-box-shadow(0 5px 20px rgba(0, 0, 0, 0.521));
		}
		.buttons {
			button {
				margin-left: 20px;
			}
		}
	}
}