@import "./mixin/mixins";
@import "./index/variables";
@mixin center-cotent() {
	position: absolute;
	display: flex;
	justify-content: center;
}

#timer {
	@include center-cotent();
	top: 0;
	right: 0;
	.ring-wrap {
		.c-t {
			.c-c {
				fill: transparent;
				stroke: white;
				stroke-width: 7;
				stroke-dasharray: 290;
				stroke-dashoffset: 10;
				@include prefix-transition(stroke-dashoffset 1s linear, opacity 1s linear);
			}
			.c-c1 {
				fill: white;
			}
			.warning {
				@include prefix-animation(warning 1s ease-in);
				@include prefix-animation-iteration-count(infinite);
			}
		}
	}
	.timer-info {
		@include center-cotent();
		width: 100px;
		height: 100px;
		text-align: center;
		.t-time {
			font-size: 18px;
			color: $ahladang-color;
			text-shadow: 0px 0px 4px rgba(0, 0, 0, 0.5);
			padding-top: 30px;
			@extend .timer-info;
		}
		.oop {
			font-size: 16px;
			color: $ahladang-color;
			padding-top: 55px;
			text-shadow: 0px 0px 1px rgba(255, 255, 255, 0.5);
			@extend .timer-info;
		}
	}
}

@keyframes warning {
	0% {
		opacity: 1;
	}
	70% {
		opacity: 0.5;
	}
	100% {
		opacity: 1;
	}
}