@import 'mixin/mixins';
$green: #00FF80;
$blue: #0E6AFF;
$red: #FF2C1D;
$yellow: #FFBA39;
$white: #FFFFFF;
#waiting-container {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    .loader {
        margin: 30% 50%;
        @include prefix-transform(translate(-50%, -50%));
        width: 60px;
        z-index: 9999;
        &:before {
            content: '';
            display: block;
        }
        .circular {
            @include prefix-animation(rotate 2s linear infinite);
        }
        .path {
            stroke-dasharray: 1, 200;
            stroke-dashoffset: 0;
            @include animation(dash 1.5s ease-in-out infinite, color 6s ease-in-out infinite);
            stroke-linecap: round;
        }
    }
}

@include keyframes(rotate) {
    100% {
        transform: rotate(360deg);
    }
}

@include keyframes(dash) {
    0% {
        stroke-dasharray: 1, 200;
        stroke-dashoffset: 0;
    }
    50% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -35px;
    }
    100% {
        stroke-dasharray: 89, 200;
        stroke-dashoffset: -124px;
    }
}

@include keyframes(color) {
    100%,
    0% {
        stroke: $red;
    }
    40% {
        stroke: $blue;
    }
    66% {
        stroke: $green;
    }
    80%,
    90% {
        stroke: $yellow;
    }
}